@{
    ViewBag.Title = "About";
}

<!--<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>-->
 
 
 
<div class="content-bg">
<div class="wrap">
<div class="content">
<div class="image group">
	<div class="grid span_2_of_3">
		<h3>So what are we all about?		</h3>
		<p>BestTutor is a personalized, student-focused learning platform that meets the needs of students in a digital age.</p>
		<p>BestTutor service begans in 2017 and our motive is to help students to find their problems, whether thats a one-off response to a specific problem or ongoing support around a challenging subject.</p>
		<p>BestTutor helps students to learn difficult concepts and get better grades by connecting them with professional teachers, whether you need help understanding a complex topic or you want to take your knowledge to the next level, we have tutors who can help you achieve your academic goals.</p>
		<p>.</p>
		<div class="button"><span><a href="~/Home/Details">Read More</a></span></div>
	</div>
	<div class="grid images_3_of_1">
		<a href="~/Home/Details"><img src="~/Images/pic6.jpg" alt="" /></a>
	</div>
</div>
</div>
</div>
</div>
 

