@{
    ViewBag.Title = "Services";
}


 
 
<div class="content-bg">
<div class="wrap">
<div class="content top1">
		 <div class="image group">
				<div class="grid images_3_of_1">
					<a href="~/Home/Details"> <img src="~/Images/ser-pic1.jpg"></a>
				</div>
				<div class="grid span_2_of_3">
					<h3>Provide Best Teachers</h3>
					<p>BestTutor helps students to learn difficult concepts and get better grades by connecting them with professional teachers, whether you need help understanding a complex topic or you want to take your knowledge to the next level, we have tutors who  help you to achieve your academic goals.</p>
					<div class="button"><span><a href="~/Home/Details">Read More</a></span></div>
			   </div>
		   </div>
		  <div class="image group">
				<div class="grid images_3_of_1">
				<a href="~/Home/Details"> 	<img src="~/Images/ser-pic2.jpg"></a>
				</div>
				<div class="grid span_2_of_3">
					<h3>Give quality study</h3>
					<p>BestTutor provides you a facility that you find your tutor with affordable price. We believe that learning, including 1-and-1 tutoring should be accessible and convenient to all. Finding tutor online makes you possible that you can find your tutor according to your need. </p>
					<p>&nbsp; </p>
					<div class="button"><span><a href="~/Home/Details">Read More</a></span></div>
			   </div>
		   </div>
		   <div class="image group">
				<div class="grid images_3_of_1">
				<a href="~/Home/Details"> 	<img src="~/Images/ser-pic3.jpg"></a>
				</div>
				<div class="grid span_2_of_3">
					<h3>Ensure Best grades</h3>
					<p> You get access to a broader skillset through a vast network of possible tutors. Watch your grades improve! There is no shortcuts to academic success but personalized learning with BestTutor perfessional teachers gives you the advantages to reach your academic goals.</p>
					<p>&nbsp; </p>
					<div class="button"><span><a href="~/Home/Details">Read More</a></span></div>
			   </div>
		   </div>
</div>
</div>
</div> 
 
