@(Layout="~/Views/Shared/_Alayout.cshtml")
@{
    ViewBag.Title = "Details";
}

 
<div class="content-bg">
<div class="wrap">
<div class="content top1">
	<h3>Advancing Student Potential</h3>
	<div class="det-pic">
		<img src="~/Images/pic1.jpg">
	</div>
	<div class="det-para">
		<p>BestTutor helps students to learn difficult concepts and get better grades by connecting them with professional teachers, whether you need help understanding a complex topic or you want to take your knowledge to the next level, we have tutors who can help you achieve your academic goals.</p>
		<p>&nbsp;</p>
	</div>
	<div class="clear"></div>
	@*<div class="button det-btm"><span><a href="#">Read More</a></span></div>*@
	<div class="clear"></div>
	<div class="det-pic">
		<img src="~/Images/pic2.jpg">
	</div>
	<div class="det-para">
		<p> BestTutor provides you a facility that you find your tutor with affordable price. We believe that learning, including 1-and-1 tutoring should be accessible and convenient to all. Finding tutor online makes you possible that you can find your tutor according to your need. You get access to a broader skillset through a vast network of possible tutors. </p>
	</div>
	<div class="clear"></div>
	<div class="button det-btm"><span><a href="#">Read More</a></span></div>
</div>
</div>
</div>
 
