@(Layout="~/Views/Shared/_Alayout.cshtml")

@{
    ViewBag.Title = "Home Page";
}
<div>
<div class="flexslider">
   	<div class="flex-viewport" style="overflow: hidden; position: relative;">
   		<ul class="slides" style="width: 100%; -webkit-transition: 0.6s; transition: 0.6s; -webkit-transform: translate3d(-5032px, 0, 0);">
   			<li class="clone" style="width: 100%; float: left; display: block;">
        		<img src="~/Images/slider1.jpg" alt=""/>
    		</li>
       		<li style="width: 100%; float: left; display: block;" class="">
    	    	<img src="~/Images/slider2.jpg" alt=""/>
    		</li>
    		<li class="" style="width:100%; float: left; display: block;">
    	    	<img src="~/Images/slider3.jpg" alt=""/>
    		</li>
		</ul>
	</div>
</div>
</div>
<div class="content-bg">
<div class="wrap">
<div class="content">
<div class="section group">
				<div class="grid_1_of_3 images_1_of_3">
					  <a href="~/Home/Details"><img src="~/Images/pic1.jpg" alt="" /></a>
				  <h3>Advancing Student Potential</h3>
					  <p>BestTutor helps students to learn difficult concepts and get better grades by connecting them with professional teachers, whether you need help understanding a complex topic or you want to take your knowledge to the next level, we have tutors who  help you to achieve your academic goals.</p>
				     <div class="button"><span><a href="~/Home/Details">Read More</a></span></div>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					  <a href="~/Home/Details"><img src="~/Images/pic2.jpg" alt="" /></a>
					  <h3>Why we are different</h3>
					  <p>BestTutor provides you a facility that you find your tutor with affordable price. We believe that learning, including 1-and-1 tutoring should be accessible and convenient to all. Finding tutor online makes you possible that you can find your tutor according to your need. </p>
				     <div class="button"><span><a href="~/Home/Details">Read More</a></span></div>
				</div>
				<div class="grid_1_of_3 images_1_of_3">
					  <a href="~/Home/Details"><img src="~/Images/pic3.jpg" alt="" /></a>
					  <h3>Why our tutors</h3>
					  <p>You get access to a broader skillset through a vast network of possible tutors. Watch your grades improve! There is no shortcuts to academic success but personalized learning with BestTutor perfessional teachers gives you the advantages to reach your academic goals.</p>
				     <div class="button"><span><a href="~/Home/Details">Read More</a></span></div>
				</div>
			</div>
<div class="cnt-btm">
		<h3 class="left">our Staff</h3> 
		<h3 class="right">show&nbsp;<span><a href="~/Home/Details">all</a></span></h3>
		<div class="clear"></div>
		
	</div>
	<div class="section group">
		<div class="grid_1_of_3 images_1_of_3">
			<a href="~/Home/Details"><img src="~/Images/staff3.jpg" alt=""/></a>
		</div>
		<div class="grid_1_of_3 images_1_of_3">
			<a href="~/Home/Details"><img src="~/Images/staff1.jpg" alt="" /></a>
		</div>
		<div class="grid_1_of_3 images_1_of_3">
			<a href="~/Home/Details"><img src="~/Images/staff2.jpg" alt="" /></a>
		</div>
   </div>
</div>
</div>
</div>